/* css style sheet for Sangeeta's Portfolio Website */
h1 {
    font-family:sans-serif;
    background-color: darkgray;
}
#sidenav{
	position: absolute;
	top: 240px;
	left: 10px;
	width: 100px;
	height: 455px;
	background-color: coral;
	font-family: 'ZCOOL XiaoWei', serif;
	line-height: 30px;
	padding: 5px;
}
#mainContent{
	position: absolute;
	left: 140px;
	top: 200px;
	width: 500px;
	height: 500px;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
footer{
	position: absolute;
	height: 20px;
	width: 100%;
	background-color: #8FBC8F;
	color: white;
	bottom: 0px;
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 12px;
	text-align: center;
	padding-top: 5px;
}
#blueBox{
	position:absolute;
	height: 260px;
	width: 200px;
	top: 240px;
	right: 10px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}